# You have to set PAT and add secrete ACCESS_OKREGISTRY in the repo {{{PKG}}}
# https://stevenmortimer.com/running-github-actions-sequentially/
# see also the default template: https://github.com/JuliaCI/PkgTemplates.jl/blob/master/templates/github/workflows/register.yml

name: SendMailWeekly
on:
    workflow_dispatch:
    schedule:
        - cron: "0 16 * * 1" # Run every Tuesday at midnight UTC
        # The first 0 represents the minute (0 to 59).
        # The second represents the hour (0 to 23).
        # The * in the third and fourth positions represents any day of the month and any month.
        # The 1 in the fifth position represents Monday.
jobs:
    send:
        name: Documentation
        runs-on: ubuntu-latest
        permissions:
            contents: read
        steps:
            - uses: actions/checkout@v3
            - uses: julia-actions/setup-julia@v1
              with:
                  version: "1"
            - uses: okatsn/add-registry@v1
            - uses: julia-actions/julia-buildpkg@v1
            - name: Run Weekly Summary
              env:
                  GMAIL_APP_ADDRESS: ${{ secrets.GMAIL_APP_ADDRESS }}
                  GMAIL_APP_KEY: ${{ secrets.GMAIL_APP_KEY }}
                  GSHEET_KEY: ${{ secrets.GSHEET_KEY }}
              run: |
                  julia --project=@. -e 'include("scripts/weekly_summary.jl")' "Weekly"
